<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Simon's <%= title %></p>
    <% if (user) { %>
    <p>Hello, <%= user.name %></p>
    <ul>
      <li><a href="/documents">Documents</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
    <% } else { %>
    <ul>
      <li><a href="/auth/login">Sign in</a></li>
    </ul>
    <% } %>
  </body>
</html>
