<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Simon's <%= title %></p>
    <ul>
      <li>
        <p><a href="#">Sign in</a></p>
      </li>
      <li>
        <p><a href="documents">Documents</a></p>
      </li>
    </ul>
  </body>
</html>
